*{
    margin: 0px;
    padding: 0px;
}

.ContainerMax {
    background-color: #0F0F0F;
    display: flex;
    align-items: flex-end;
    height: 150px;
}

.Reserved{
    color: rgb(163, 163, 163);
    margin-bottom: 45px;
    text-align: left;
}

